<section class="container awards d-none d-md-block d-lg-block">
    <div class="container">
        <h2>FEATURED AWARDS</h2>
        <hr style="border-top:0;margin-bottom: 25px;">
        <div class="row d-none d-md-flex">
            <div class="col-sm-12 text-center">
                <picture>
                    <source data-srcset="/img/awards-combined-desktop.webp" type="image/webp" class="img-fluid lazyloading" srcset="/img/awards-combined-desktop.webp">
                    <source data-srcset="/img/awards-combined-desktop.jpg" type="image/jpg" class="img-fluid lazyloading" srcset="/img/awards-combined-desktop.jpg">
                    <img data-srcset="/img/awards-combined-desktop.jpg" data-src="/img/awards-combined-desktop.jpg" class="img-fluid lazyloaded" alt="Various Awards" srcset="/img/awards-combined-desktop.jpg" src="/img/awards-combined-desktop.jpg">
                </picture>
            </div>
        </div>
    </div>
</section>
