<section class="capabilities">
    <div class="container practice-areas">
        <h2 class="text-center font-weight-bold">WHAT WE CAN DO FOR YOU</h2>
        <div class="what-we-can-do-container">
            <div class="specialty">
                <div class="capability capability__max-compensation icon-max-compensation">
                </div>
                <span class="capability__message">Maximum<br />Compensation</span>
            </div>
            <div class="specialty">
                <div class="capability capability__medical-paid icon-privacy">
                </div>
                <span class="capability__message">Discrete<br />representation</span>
            </div>

            <div class="specialty">
                <div class="capability icon-lost-wages">
                </div>
                <span class="capability__message">Recovery Of<br />Lost Wages</span>
            </div>
            <div class="specialty">
                <div class="capability icon-come2you">
                </div>
                <span class="capability__message">Attorneys who<br />Travel To You</span>
            </div>
            <div class="specialty">
                <div class="capability icon-psych">
                </div>
                <span class="capability__message">Help accessing<br />counseling</span>
            </div>
            <div class="specialty">
                <div class="capability icon-cash-advance"></div>
                <span class="capability__message">A Cash Advance<br />On Your Case</span>
            </div>
        </div>
    </div>
</section>
