<section class="capabilities">
    <div class="container practice-areas">
        <h2 class="text-center"><span style="">WHAT WE CAN DO FOR YOU</span></h2>
        <div class="what-we-can-do-container">
            <div class="specialty">
                <div class="capability capability__max-compensation icon-cash_advance">
                </div>
                <span class="capability__message">Receive Maximum Compensation</span>
            </div>
            <div class="specialty">
                <div class="capability capability__medical-paid icon-staff-of-hermes">
                </div>
                <span class="capability__message">Discrete And Professional</span>
            </div>
            <div class="specialty">
                <div class="capability capability__cash-advance icon-cash_icon">
                </div>
                <span class="capability__message">We'll Come To You</span>
            </div>

            <div class="specialty">
                <div class="capability capability__income-recovery icon-pay_off_medical_bills">
                </div>
                <span class="capability__message">Recovery Of Lost Wages</span>
            </div>
            <div class="specialty">
                <div class="capability capability__fix-car icon-complementary_transportation">
                </div>
                <span class="capability__message">Justice</span>
            </div>
        </div>
    </div>
</section>
