<!--<div class="recovered d-sm-block d-md-none">-->
<!--  <div class="container-fluid u-remove-all-padding">-->
<!--    <div class="featured-win__container">-->
<!--      <picture class="d-sm-block d-md-none">-->
<!--        <source data-srcset="{{ .Site.BaseURL }}lp19/fw.webp" type="image/webp" class="img-fluid lazyload">-->
<!--        <source data-srcset="{{ .Site.BaseURL }}lp19/fw.png" type="image/png" class="img-fluid lazyload">-->
<!--        <img data-srcset="{{ .Site.BaseURL }}lp19/fw.png" data-src="{{ .Site.BaseURL }}lp19/fw.png" class="img-fluid lazyload" alt="Attorney Colin Jones wins $1,385,000 million settlement, motor vehicle collision, August 2019">-->
<!--      </picture>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
