<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2TWQL7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- Header Start -->
<div class="header__wrap">
  <div class="container-fluid u-remove-all-padding">
    <div class="header">
      <section class="section-header-logo">
        <picture>
          <source data-srcset="{{ .Site.BaseURL }}img/wlf-logo.webp" type="image/webp" class="img-fluid">
          <source data-srcset="{{ .Site.BaseURL }}img/wlf-logo.png" type="image/png" class="img-fluid">
          <img data-srcset="{{ .Site.BaseURL }}img/wlf-logo.png" src="{{ .Site.BaseURL }}img/wlf-logo.png" class="img-fluid" alt="Wilshire Law Firm logo">
        </picture>
      </section>
      <a class="subhero__phone-num d-sm-flex d-md-none capPhone" href="tel:8553350244" onclick="dataLayer.push({'event':'Contact', 'eventAction':'Call', 'eventNumber': 'Header Mobile Call- 8555969347'});" style="color: #fff; margin-bottom: 10px;">
        <i class="fa fa-phone-volume" style="color: #55d600;"></i>855-335-0244
      </a>
      <section class="hablamos24">
        <div class="hablamos24__wrap capPhone">
          <div class="hablamos24__block1 ">HABLAMOS ESPANOL</div>
          <div class="hablamos24__block2">AVAILABLE 24/7</div>
        </div>
      </section>
      <section class="freeconsult d-none d-md-flex">
        <i class="fa fa-phone-volume" style="color: #55d600;"></i>
        <span class="freeconsult__phonenum" style="color:#fff;">1-855-335-0244</span>
      </section>
    </div>
  </div>
</div><!-- header close -->
