<div class="herolower__wrap">
    <div class="herolower mobile-column-wrap">
        <div class="herolower__leftblock ">
            <picture>
                <source data-srcset="{{ .Site.BaseURL }}img/super-lawyers.webp" type="image/webp" class="img-fluid">
                <source data-srcset="{{ .Site.BaseURL }}img/super-lawyers.jpg" type="image/jpg" class="img-fluid">
                <img data-srcset="{{ .Site.BaseURL }}img/super-lawyers.jpg" src="{{ .Site.BaseURL }}img/super-lawyers.jpg" class="img-fluid" alt="Super Lawyers">
            </picture>
            <div class="herolower__text">
                <span>NO LEGAL FEES</span><span>UNLESS YOU WIN</span>
            </div>
        </div>
        <div class="herolower__rightblock">
            <picture>
                <source data-srcset="{{ .Site.BaseURL }}img/bestlawfirms-2020.webp" type="image/webp" class="img-fluid">
                <source data-srcset="{{ .Site.BaseURL }}img/bestlawfirms-2020.jpg" type="image/jpg" class="img-fluid">
                <img data-srcset="{{ .Site.BaseURL }}img/bestlawfirms-2020.jpg" src="{{ .Site.BaseURL }}img/bestlawfirms-2020.jpg" class="img-fluid" alt="Best Lawyers Best Law Firms U.S. News and World Report 2020">
            </picture>
        </div>
    </div>
</div>
