<div class="standard hero-wrap d-sm-block d-md-block d-lg-none">
    <div class="container-fluid u-remove-all-padding">
        <section class="hero">
            <div class="hero__left">
                <div class="hero__headline mobile-column-wrap">
                    <h1 class="d-sm-block d-md-block">
                        <div class="headline__big-text font-weight-bold big_text1">
                            <span>YOU DON'T PAY</span>
                            <span>UNLESS YOU WIN</span>
                        </div>
                    </h1>
                    <h2 class="d-sm-block d-md-block d-lg-none big_text2 font-weight-regular text-center">
                        <span>Top-Rated Attorneys Handling Gender Discrimination Claims</span>
                    </h2>
                </div>
                <div class="standard hero__attorneys">
                    <div class="d-sm-block d-md-block d-lg-none">

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="desktop hero-wrap d-none d-lg-block">
    <div class="container-fluid tablet">
        <section class="hero">
            <div class="hero__headline">
                <div style="height: 100%;display: flex;flex-direction: column;justify-content: center;">
                    <div class="d-flex" style="flex-direction: column;height: 80%; justify-content: space-evenly;">
                        <h1>
                            <div class="headline__big-text font-weight-bold big_text1">
                                <span>YOU DON'T PAY</span>
                                <span>UNLESS YOU WIN</span>
                            </div>
                        </h1>
                        <h2 class="">
                            <div class="headline__big-text2 font-weight-regular">
                                <div>Top-Rated Attorneys Handling Gender Discrimination Claims</div>
                            </div>
                        </h2>
                        <picture class="superlawyers">
                            <source data-srcset="{{ .Site.BaseURL }}img/super-lawyers-desktop.webp" type="image/webp" class="img-fluid">
                            <source data-srcset="{{ .Site.BaseURL }}img/super-lawyers-desktop.png" type="image/png" class="img-fluid">
                            <img data-src="{{ .Site.BaseURL }}img/super-lawyers-desktop.png" src="" class="img-fluid lazyload" alt="Super Lawyers">
                        </picture>
                    </div>
                </div>

            </div>
<!--            <img data-src="{{ .Site.BaseURL }}img/attorneys-desktop.png" src="" class="img-fluid lazyload attorneys" alt="Group of Attorneys">-->

            <picture class="attorneys d-flex justify-content-end">
                <source data-srcset="{{ .Site.BaseURL }}img/attorneys-desktop.webp" type="image/webp" class="img-fluid">
                <source data-srcset="{{ .Site.BaseURL }}img/attorneys-desktop.png" type="image/png" class="img-fluid">
                <img data-src="{{ .Site.BaseURL }}img/attorneys-desktop.png" src="" class="img-fluid lazyload" alt="Group of Attorneys">
            </picture>

            <div class="wlf-form d-lg-flex" id="wlf-form">
                <div class="wlf-form__container">
                    <div class="hero__form-title text-left">FREE CONSULTATION 24/7</div>
                    <div class="wlf-form__container">
                        <noscript>PLEASE ENABLE JAVASCRIPT IN YOUR BROWSER TO SEE THE FORM</noscript>
                        <form name="LP19_Top_Form" class="d-none" method="POST" data-netlify="true" action="/thank-you/"
                              id="LP19_Top_Form" netlify-honeypot="honeypot-bot-field" novalidate>
                            <div class="form-group d-none">
                                <label>Don’t fill this out if you're human: <input name="honeypot-bot-field"/></label>
                            </div>
                            <div class="form-group">
                                <label for="firstName" class="control-label">First Name</label>
                                <input name="firstName" class="form-control" id="firstName" placeholder="First Name"
                                       aria-label="Enter Your First Name">
                                <div class="messages"></div>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="control-label">Last Name</label>
                                <input name="lastName" class="form-control" id="lastName" placeholder="Last Name"
                                       aria-label="Enter Your Last Name">
                                <div class="messages"></div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="control-label">Phone Number</label>
                                <input name="phone" id="phone" type="tel" class="form-control bfh-phone"
                                       data-country="US" placeholder="Phone Number"
                                       aria-label="Enter Your Phone Number">
                                <div class="messages"></div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">Email Address</label>
                                <input name="email" type="email" class="form-control" id="email"
                                       placeholder="Email Address" aria-label="Enter Your Email Address">
                                <div class="messages"></div>
                            </div>
                            <div class="form-group">
                                <input name="websource" id="websource" value="SEM - Google Ads" type="hidden">
                                <div class="messages"></div>
                            </div>
                            <div class="form-group">
                                <input name="pageurl" id="pageurl" type="hidden" value="pageurl"/>
                                <input type="hidden" id="caseType"  name="caseType" value=Employment" />
                                <input name="branchname" id="branchname" type="hidden" value="lp19short">
                                <div class="messages"></div>
                            </div>
                            <div class="form-group">
                                <input name="btnSubmit" id="btnSubmitTop" type="submit" value="GET HELP NOW">
                                <div class="messages"></div>
                            </div>
                        </form>
                            <p style="font-size: 8px; line-height: 1.25;color: #3c4d66;margin-bottom: 0;">By submitting this form, you agree to receive calls at any time, including hours outside of business hours. This is so that we may reach you as soon as possible in order to consult on your potential case.</p>
                    </div>
                </div>
        </section>
    </div>
</div>
