<div class="subhero__wrap">
  <div class="container-fluid u-remove-all-padding">
    <div class="subhero">
      <div class="subhero__as-seen-on">
        <p class="">As Seen On:</p>
        <div class="subhero__as-seen-on-images images-in-a-row">

          <picture>
            <source data-srcset="{{ .Site.BaseURL }}img/aso-1.webp" type="image/webp" class="img-fluid ">
            <source data-srcset="{{ .Site.BaseURL }}img/aso-1.png" type="image/png" class="img-fluid ">
            <img data-srcset="{{ .Site.BaseURL }}img/aso-1.png" data-src="{{ .Site.BaseURL }}img/aso-1.png" class="img-fluid lazyload" alt="LA Times">
          </picture>
          <picture>
            <source data-srcset="{{ .Site.BaseURL }}img/aso-2.webp" type="image/webp" class="img-fluid ">
            <source data-srcset="{{ .Site.BaseURL }}img/aso-2.png" type="image/png" class="img-fluid ">
            <img data-srcset="{{ .Site.BaseURL }}img/aso-2.png" data-src="{{ .Site.BaseURL }}img/aso-2.png" class="img-fluid lazyload" alt="KTLA 5">
          </picture>
          <picture>
            <source data-srcset="{{ .Site.BaseURL }}img/aso-3.webp" type="image/webp" class="img-fluid ">
            <source data-srcset="{{ .Site.BaseURL }}img/aso-3.png" type="image/png" class="img-fluid ">
            <img data-srcset="{{ .Site.BaseURL }}img/aso-3.png" data-src="{{ .Site.BaseURL }}img/aso-3.png" class="img-fluid lazyload" alt="ABC">
          </picture>
          <picture>
            <source data-srcset="{{ .Site.BaseURL }}img/aso-4.webp" type="image/webp" class="img-fluid ">
            <source data-srcset="{{ .Site.BaseURL }}img/aso-4.png" type="image/png" class="img-fluid ">
            <img data-srcset="{{ .Site.BaseURL }}img/aso-4.png" data-src="{{ .Site.BaseURL }}img/aso-4.png" class="img-fluid lazyload" alt="CNBC">
          </picture>
          <picture>
            <source data-srcset="{{ .Site.BaseURL }}img/aso-5.webp" type="image/webp" class="img-fluid ">
            <source data-srcset="{{ .Site.BaseURL }}img/aso-5.png" type="image/png" class="img-fluid ">
            <img data-srcset="{{ .Site.BaseURL }}img/aso-5.png" data-src="{{ .Site.BaseURL }}img/aso-5.png" class="img-fluid lazyload" alt="CNBC">
          </picture>

        </div>
      </div>
      <div class="subhero__border"></div>

      <div class="subhero__no-win-desktop d-none d-md-flex">
        <div class="subhero__no-win-desktop_block1">
          <div class="subhero__no-win-desktop-no-win-text"><span>No Legal Fees</span><br /><span>Unless You Win</span>
          </div>
        </div>
        <div class="subhero__no-win-desktop_block2">

          <picture>
            <source data-srcset="{{ .Site.BaseURL }}img/USNEWS_web.webp" type="image/webp" class="subhero__image-zero-fee img-fluid lazyload">
            <source data-srcset="{{ .Site.BaseURL }}img/USNEWS_web.png" type="image/png" class="subhero__image-zero-fee img-fluid lazyload">
            <img data-srcset="{{ .Site.BaseURL }}img/USNEWS_web.png" data-src="{{ .Site.BaseURL }}img/USNEWS_web.png" class="subhero__image-zero-fee img-fluid lazyload">
          </picture>

        </div>
      </div>
      <div class="subhero__border"></div>
      <div class="subhero__recovered-desktop d-none d-md-block d-lg-none">
                <span class="subhero__recovered-text1" style="display: block">
                    <span class="subhero__recovered--break">MORE THAN</span><span class="subhero__recovered--break">$400M</span>
                    <span>RECOVERED</span> <span class="subhero__recovered--break">FOR OUR CLIENTS</span>
                </span>
      </div>
      <div class="subhero__recovered-desktop d-none d-md-none d-lg-block" style="width: 33%;">
                <span class="subhero__recovered-text1" style="display: block">
                    <span>MORE THAN $400M</span>
                    <span>RECOVERED FOR OUR CLIENTS</span>
                </span>
      </div>
    </div>
  </div>
</div>
<div class="subhero__no-win-mobile d-sm-flex d-md-none capPhone">
  No Legal Fees Unless You Win.
</div>
<div class="d-sm-block d-md-none">
<br>
  <div class="text-center">
    <picture>
      <source data-srcset="{{ .Site.BaseURL }}lp19/usnews.webp" type="image/webp" class="img-fluid lazyload">
      <source data-srcset="{{ .Site.BaseURL }}lp19/usnews.jpg" type="image/jpg" class="img-fluid lazyload">
      <img data-srcset="{{ .Site.BaseURL }}lp19/usnews.jpg" class="img-fluid lazyload" alt="US News Award">
    </picture>
  </div>
</div>
