<div class="wlf-form bottom-form">
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-block col-lg-12 text-left" style="padding-left:0;">
                <h2 class="text-uppercase">Speak To The Best Wrongful Termination Lawyers</h2>
            </div>
        </div>
        <div class="row">
            <div class="whywlf__form__container__before offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-0 col-lg-4" STYLE="background: #3c4e66; display: flex;">
                <div class="wlf-form__container">
                    <h3 class="text-left font-weight-bold">FREE CONSULTATION 24/7</h3>
                    <noscript>PLEASE ENABLE JAVASCRIPT IN YOUR BROWSER TO SEE THE FORM</noscript>
                    <form name="LP19 Bottom Form" id="LP19_Bottom_Form" class="d-none" method="POST" data-netlify="true" action="/thank-you/" netlify-honeypot="honeypot-bot-field">
                        <div class="form-group d-none">
                            <label>Don’t fill this out if you're human: <input name="honeypot-bot-field" /></label>
                        </div>
                        <div class="form-group">
                            <label for="firstName_bottom">First Name</label>
                            <input  name="firstName" class="form-control wlf-form--empty" id="firstName_bottom" placeholder="First Name" aria-label="Enter Your First Name">
                            <div class="messages"></div>
                        </div>
                        <div class="form-group">
                            <label for="lastName_bottom">Last Name</label>
                            <input name="lastName" class="form-control wlf-form--empty" id="lastName_bottom" placeholder="Last Name" aria-label="Enter Your Last Name">
                            <div class="messages"></div>
                        </div>
                        <div class="form-group">
                            <label for="phone_bottom">Phone</label>
                            <input name="phone" type="tel" class="form-control bfh-phone wlf-form--empty" data-country="US" id="phone_bottom" placeholder="Phone" aria-label="Enter Your Phone">
                            <div class="messages"></div>
                        </div>
                        <div class="form-group">
                            <label for="email_bottom">Email</label>
                            <input name="email" type="email" class="form-control wlf-form--empty" id="email_bottom" placeholder="Email" aria-label="Enter Your Email">
                            <div class="messages"></div>
                        </div>
                        <div class="form-group">
                            <label for="bottom-form-textarea">Tell Us How We Can Help You</label>
                            <textarea name="description" class="form-control wlf-form--empty" id="bottom-form-textarea" rows="3" style="height:100px;" placeholder="Tell Us How We Can Help You" aria-label="Tell Us How We Can Help You"></textarea>
                            <div class="messages"></div>
                        </div>
                        <div class="form-group">
                            <input name="websource" value="SEM - Google Ads" type="hidden">
                            <div class="messages"></div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" id="pageurl-bottom"  name="pageurl-bottom" value="pageurl-bottom" />
                            <input name="branchname-bottom" id="branchname-bottom" type="hidden" value="lp19short">
                            <div class="messages"></div>
                        </div>
                        <div class="form-group whywlf__submit">
                            <input type="hidden" id="gclid_field_bottom" name="gclid_field" value="">
                            <input type="hidden" id="caseType"  name="caseType" value="Employment" />
                            <input name="btnSubmit" id="btnSubmitBottom" type="submit" value="GET HELP NOW">
                            <div class="messages"></div>
                        </div>
                    </form>
                    <p style="font-size: 8px;line-height: 1.25;color: #b4b4b4;margin-top: 10px;margin-bottom: 0;">By submitting this form, you agree to receive calls at any time, including hours outside of business hours. This is so that we may reach you as soon as possible in order to consult on your potential case.</p>
                </div>
            </div>
            <div class="whywlf__paragraph_container offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-0 col-lg-7">
                <picture class="d-none d-lg-block">
                    <source data-srcset="{{ .Site.BaseURL }}img/CELA.webp" type="image/webp" class="img-fluid">
                    <source data-srcset="{{ .Site.BaseURL }}img/CELA.jpg" type="image/jpg" class="img-fluid">
                    <img data-src="{{ .Site.BaseURL }}img/CELA.jpg" src="" class="img-fluid lazyload float-right" alt="">
                </picture>

                <div class="text-left supporttext__paragraph_container">
                    <div class="supporttext__paragraph_container__header_mobile d-md-flex d-lg-none">
                        <h2 class="text-uppercase">Speak To The Best Wrongful Termination Lawyers</h2>
                        <div class="supporttext__badge_mobile lazyload">

                        </div>
                    </div>
                    <p>
                        As an employee, you have the right to a safe, comfortable and fair workplace environment free
                        from fear of wrongful termination or unfair dismissal. The passionate wrongful termination
                        lawyers at Wilshire Law Firm are dedicated to protecting the rights of all workers throughout
                        California. Whether you feel you were terminated due to protected classes such as race, age,
                        gender, disabilities, pregnancy or whistleblowing, we will fight for your right to justice and
                        maximum compensation. Retaliation that may have caused termination is against the law. Talk to
                        one of our lawyers today to see if you have a case. Wilshire Law Firm's legal methods work, with
                        the proof being that we've won our clients more than $750,000,000 in compensation. Wrongful
                        termination is never an acceptable approach a company should take against their employees. The
                        process is entirely discreet and you don’t pay unless you win. If you have any questions about
                        your specific wrongful termination lawsuit, call us at for a FREE consultation and let us fight
                        for you.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
