<div class="testimonials-accordion">
  <div class="container">
    <h2 class="text-center">TESTIMONIALS</h2>
  </div>
  <div class="swiper-container swiper-container-testimonials">
    <div class="swiper-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="swiper-slide">
              <div class="testimonials-accordion__upper-container">
                <div class="testimonials-accordion__headshot">
                  <img src="/img/Stephanie R.jpg" data-src="/img/Stephanie R.jpg" class="img-fluid lazyloaded" alt="headshot of reviewer">
                </div>
                <div class="testimonials-accordion__info">
                  <span class="testimonials-accordion__name">Stephanie R.</span>
                  <span class="testimonials-accordion__location">Los Angeles, CA</span>
                  <div class="testimonials-accordion__stars">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid lazyloaded" alt="red star icon">
                  </div>
                </div>
              </div>
              <div class="testimonials-accordion__review-container">
                <div class="testimonials-accordion__review">
                  If you are in search for an excellent firm to represent you, Wilshire Law Firm is the best option out there. From the beginning their customer service was top notch…Not only was their customer service impeccable but my settlement...I got way more than I was expecting. I almost couldn't believe it. But these guys work so hard to get you max compensation…I also got to meet Mr. Saadian and I can tell a good person when I see one. Mr.Saadian genuinely cares about his clients. Look no further. Wilshire Law Firm is the way to go.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="swiper-slide">
              <div class="testimonials-accordion__upper-container">
                <div class="testimonials-accordion__headshot">
                  <img src="/img/Suzy D.jpg" data-src="/img/Suzy D.jpg" class="img-fluid lazyloaded" alt="headshot of reviewer">
                </div>
                <div class="testimonials-accordion__info">
                  <span class="testimonials-accordion__name">Suzy D.</span>
                  <span class="testimonials-accordion__location">Los Angeles, CA</span>
                  <div class="testimonials-accordion__stars">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                  </div>
                </div>
              </div>
              <div class="testimonials-accordion__review-container">
                <div class="testimonials-accordion__review">
                  My parents got T-boned by a careless driver back on 12/06/18 and where badly injured. They called Wilshire law firm and were sent to the best doctors and got the best medical treatment. The treatment they received helped them recover much faster. Sonia and her team where there every step of the way. Bobby was always there to provide us with advise even though the case was not a big case but made them feel like it was worth a million dollars. They got the case settled within 6 months and got them great compensation…
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="swiper-slide">
              <div class="testimonials-accordion__upper-container">
                <div class="testimonials-accordion__headshot">
                  <img src="/img/Steven K.jpg" data-src="/img/Steven K.jpg" class="img-fluid ls-is-cached lazyloaded" alt="headshot of reviewer">
                </div>
                <div class="testimonials-accordion__info">
                  <span class="testimonials-accordion__name">Steven K.</span>
                  <span class="testimonials-accordion__location">Hemet, CA</span>
                  <div class="testimonials-accordion__stars">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                  </div>
                </div>
              </div>
              <div class="testimonials-accordion__review-container">
                <div class="testimonials-accordion__review">
                  This law firm is the best and most professional that you will ever see and experience! My wife had a very bad accident with 4 surgeries. The Doctors and Surgeons are fantastic none better. When you walk into their office you are surrounded by professionalism in every way. I have been in the legal business for over 30 years and have never seen and experienced professionalism on every move. I will recommend this law firm for anyone who has had a serious accident. I couldn't have done it without them! </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="swiper-slide">
              <div class="testimonials-accordion__upper-container">
                <div class="testimonials-accordion__headshot">
                  <img src="/img/Gabriel D.jpg" data-src="/img/Gabriel D.jpg" class="img-fluid ls-is-cached lazyloaded" alt="headshot of reviewer">
                </div>
                <div class="testimonials-accordion__info">
                  <span class="testimonials-accordion__name">Gabriel D.</span>
                  <span class="testimonials-accordion__location">Cerritos, CA</span>
                  <div class="testimonials-accordion__stars">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                    <img src="/img/review-star-red.png" data-src="/img/review-star-red.png" class="img-fluid ls-is-cached lazyloaded" alt="red star icon">
                  </div>
                </div>
              </div>
              <div class="testimonials-accordion__review-container">
                <div class="testimonials-accordion__review">
                  My attorney Bobby Saadian and the Wilshire Law Firm is one of the best motorcycle and auto accident firm that's ever represented me. My case manager Scarlett Alvarez was very professional, resourceful, she was on top of everything, she always called me and reminded me about any meetings or appointments keeping me up to date and informed. Amy Wu is one of the best and most impressive lien negotiator I've ever known, she finished my case in 2 days…Bobby Saadian is a down to earth, real nice guy, he makes you feel at home. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
