<div class="video mobile-column-wrap placeholder-youtube-video embed-responsive embed-responsive-16by9" data-yt-url="https://www.youtube.com/embed/-xOKnDfIacA?rel=0&showinfo=0&autoplay=1">
    <picture>
        <source data-srcset="{{ .Site.BaseURL }}img/nicole_yt_tn_mobile.webp" type="image/webp" class="img-fluid lazyload">
        <source data-srcset="{{ .Site.BaseURL }}img/nicole_yt_tn_mobile.jpg" type="image/jpg" class="img-fluid lazyload">
        <img data-srcset="{{ .Site.BaseURL }}img/nicole_yt_tn_mobile.jpg" src="{{ .Site.BaseURL }}img/nicole_yt_tn_mobile.jpg" class="img-fluid lazyload " alt="Best Lawyers Best Law Firms U.S. News and World Report 2020">
    </picture>
</div>
