<!DOCTYPE html>
<html lang="en" class="webp">
<head>
	<meta name="description" content="Wilshire Law Firm is a award-winning personal injury, car accident, employment &amp; class action law firm. GET HELP TODAY!">

	{{ partial "head.html" . }}

</head>
<body class="en">

{{ partial "header.html" . }}

{{ partial "hero.html" . }}

{{ partial "herolower.html" . }}

{{ partial "capabilities.html" . }}

{{ partial "featured-win.html" . }}

{{ partial "recovered-mobile.html" . }}

{{ partial "as-seen-on.html" . }}

{{ partial "whywlf.html" . }}

{{ partial "swap-text-form.html" . }}

{{ partial "footer.html" . }}

</body>
</html>
