<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="Wilshire Law Firm is a award-winning personal injury, car accident, employment &amp; class action law firm. GET HELP TODAY!">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
	{{ partial "head.html" . }}

</head>
<body class="en">

{{ partial "header.html" . }}

{{ partial "hero.html" . }}

{{ partial "herolower.html" . }}

{{ partial "capabilities.html" . }}

{{ partial "featured-win.html" . }}

{{ partial "recovered-mobile.html" . }}

{{ partial "as-seen-on.html" . }}

{{ partial "whywlf.html" . }}

{{ partial "video.html" . }}

{{ partial "support-text.html" . }}

{{ partial "footer.html" . }}

{{ partial "end.html" . }}

</body>
</html>
